<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> AdonisJS Blog </title>
</head>
<body>
  <section>

    <!-- HEADER -->
    @include('partials/header')
  </section>

  <section>
    <!-- ANY TEMPLATE CAN INJECT CONTENT HERE  -->
    @section('main')
    @endsection
  </section>

</body>
</html>