<form action="">
    @!component('components/input', {
        name: 'username',
        text: 'Enter username',
        type: 'input'
    })
      
      @!component('components/input', {
          name: 'password',
          text: 'Enter password',
          type: 'password'
      })

      @!component('components/button', {
          text: 'Signup',
          type: 'Submit'
      })
</form>