<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> AdonisJS </title>
</head>
<body>
    <p> Your current language is {{ userLanguage || 'not set' }} </p>
    <hr />

    <ul>
      <li><a href="language/en"> Change to English </a></li>
      <li><a href="language/fr"> Change to French </a></li>
      <li><a href="language/it"> Change to Italian </a></li>
    </ul>
</body>
</html>